@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@import "./theme.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  REACT FLOW CSS */
.react-flow__attribution {
  display: none;
}

.react-flow__handle.connectingto {
  background: #ff6060;
}

.react-flow__handle.valid {
  background: #55dd99;
}
